.about-hero-photo {
  width: 320px;
  height: 320px;
  max-width: 100%;
  border-radius: 50%;
  border: 4px solid #134f02;
  background-image: url('../../img/hero_photo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
