footer {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 218px;
    margin-bottom: 50px;
}

footer .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}

footer .top .namber {
    width: 169px;
    height: 26px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #42446E;
}

footer .top .gmail {
    width: 320px;
    height: 26px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #42446E;
}

footer .top .social-icons {
    display: flex;
    gap: 15px;
}

footer .top .social-icons img:hover{
    cursor: pointer;
    opacity: 0.8;
}

footer .line {
    width: 100%;
    max-width: 1200px;
    height: 2px;
    background: #666666;
    margin: 20px auto;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
    list-style: none;
}

footer nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #42446E;
}

footer nav li a:hover {
    cursor: pointer;
    opacity: 0.8;
  }