.header-nav {
  width: 790px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  font-family: 'DM_Sans', sans-serif;
}

.header-nav nav ul {
  display: flex;
  list-style: none;
  gap: 65px; 
}

.header-nav nav ul li a {
  color: #666666;
  text-decoration: none;
}

.header-nav nav ul li a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header-nav .icons {
  display: flex;
  list-style: none;
  gap: 16px;
}

.header-nav .icons li a img {
  width: 24px;
  height: 24px;
  display: block;
}

.header-nav .icons li a:hover {
  cursor: pointer;
  opacity: 0.8;
}