.project-section {
    text-align: center;
    margin: 50px auto;
    max-width: 1218px;
  }

  .project-section, h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #42446E;
    margin-bottom: 10px;
  }
  
  .project-section, p {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #666666;
  }