.projects {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.projects .project-tile {
  width: 100%;
  width: 373px;
  height: 567px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  text-align: left;
  padding-bottom: 20px;
}

.projects .project-tile .title-style {
  width: 314px;
  height: 340px;

}

.projects .project-tile .title-style, h5 {
font-size: 28px;
font-weight: 500;
font-family: 'Poppins', sans-serif;
color: #000;
}
  
.projects .project-tile .title-style .tech-stack{
  text-align: left;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: #42446E;
  margin: 15px 0;
}

.projects .project-tile .title-style .tech-stack .tech-label {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #42446E;
}

.projects .project-tile .title-style .p-title  {
  text-align: left;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: #666666;
  margin: 15px 0;
}


.projects .project-tile .project-links {
  display: flex;
  justify-content: space-between;
  width: 314px;
}

.projects .project-tile .project-links a {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #000;
}