.tech-section {
    text-align: center;
    margin: 150px auto;
    max-width: 1218px;
  }
  
  .tech-section h2 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #42446E;
    margin-bottom: 10px;
  }
  
  .tech-section p {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #666;
    margin-bottom: 30px;
  }

  .tech-section a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
  }
  
  .tech-section img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease-in-out;
  }